{% extends "layout/_navbar.html" %}


{% block content %}
<div class="container">
  <form method="post">
    <div class="form-control">
      <div class="mb-3">
        <label for="test-name" class="form-label">Назва тесту:</label>
        <input type="text" id="test-name" name="test_name" class="form-control" value="{{ test.name }}">
      </div>
      
      <div class="mb-3">
        <label for="test-description" class="form-label">Опис тесту:</label>
        <input type="text" id="test-description" name="test_description" class="form-control" value="{{ test.description }}">
      </div>
      
      <div class="mb-3">
        <label for="test-time" class="form-label">Час на проходження тесту (в хвилинах):</label>
        <input type="number" id="test-time" name="test_time" class="form-control" value="{{ test.time_to_complete }}">
      </div>
      
      <div class="mb-3 form-check">
        <input type="checkbox" id="test-random" name="test_random" class="form-check-input" value="{{ test.is_random }}">
        <label for="test-random" class="form-check-label">Випадковий порядок запитань</label>
      </div>
    </div>
    <div class="mb-3 form-control">
      <h3>Запитання:</h3>
      <div id="questions-container">
        <!-- Контейнер для запитань -->
        
      </div>
      
      <button id="add-question-btn" class="btn btn-primary">Додати запитання</button>
    </div>
    
    <button type="submit" class="btn btn-success m-2">Змінити</button>
    <a href="{{ url_for('delete_test', topic_id=test.topic_id, test_id=test.id ) }}" class="btn btn-danger m-2">Видалити тест</a>
  </form>
  <input type="hidden" id="questions-data" value='{{ questions | tojson | safe }}'>

</div>

<script src="{{ url_for('static', path='/test/js/edit.js') }}"></script>
{% endblock content %}
