{% extends "layout/_navbar.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header row">
            <h5 class="card-title col">Список тестів</h5>
            <a href="{{ url_for('view_test_add', topic_id=topic_id) }}" class="btn btn-primary col-1">Додати</a>
        </div>
        <div class="card-body">
            {% if msg %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ msg }}
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Назва тесту</th>
                        <th>Функції</th>
                    </tr>
                </thead>
                <tbody>
                        {% if tests %}
                            {% for item in tests %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td class="col-2">
                                    <a href="{{ url_for('view_check_person', test_id=item.id) }}" class="btn btn-success">Пройти</a>
                                    <a href="{{ url_for('view_test_edit', test_id=item.id, topic_id=topic_id) }}" class="btn btn-info">Змінити</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td>Тестів ще немає</td>
                            <td></td>
                        </tr>
                        {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
