{% extends "layout/_navbar.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Ласкаво просимо до HPK College</h1>
        <p class="lead">Пройдіть тести, щоб випробувати свої знання в різних предметах та підвищити їх рівень.</p>
    </div>
</div>

<!-- Контент сторінки -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Зображення герба коледжу -->
            <img src="https://hpk.edu.ua/uploads/2018/07/HPK_herb-Logon.png" class="img-fluid">
        </div>
    </div>
</div>
{% endblock content %}
